* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

/*Colors*/
/*fonts*/
/*titulos*/
/* botones */
/*footer*/
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.header__nav .nav__ul {
  display: flex;
}
.header__nav .nav__ul--li {
  list-style-type: none;
  margin-left: 10px;
  font-family: "DM Serif Display", serif;
  font-size: 1.6em;
  color: #837d87;
  font-weight: 300;
}

.nav__ul--li:hover {
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
}

.container-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  margin-top: 30px;
  background-color: #2d2640;
  max-height: 500px;
  padding: 0 100px 0 100px;
}
.container-top__article {
  max-height: 500px;
  align-self: center;
}
.container-top .article__h2 {
  color: #fafafa;
  font-family: "DM Serif Display", serif;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
  border-top: 2px solid #fafafa;
}
.container-top .article__p {
  color: #fafafa;
  font-family: "Karla", sans-serif;
  font-size: 1.6em;
  margin-bottom: 20px;
  width: 80%;
}
.container-top .article__button {
  background-color: #2d2640;
  border: 2px solid #fafafa;
  color: #fafafa;
  height: 50px;
  width: 150px;
  font-size: 1.6em;
  font-family: "Karla", sans-serif;
}

.article__button:hover {
  cursor: pointer;
}

.container-top__figure .figure-family {
  position: relative;
  top: 120px;
  left: 40px;
  z-index: 1;
  height: 510px;
  width: 500px;
}
.container-top__figure .figure-lines {
  position: relative;
  z-index: 2;
  bottom: 510px;
  left: 330px;
  max-height: 400px;
  width: 300px;
}

.lines {
  position: relative;
  z-index: 1;
  bottom: 150px;
  height: 350px;
  width: 130px;
}

.container-middle {
  position: relative;
  bottom: 100px;
  padding: 0px 100px 0 100px;
}
.container-middle__h2 {
  margin-top: 30px;
  color: black;
  font-family: "DM Serif Display", serif;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 100px;
  border-top: 2px solid #fafafa;
}
.container-middle .box-options {
  display: flex;
  justify-content: center;
}
.container-middle .options__logo {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}
.container-middle .options__title {
  color: black;
  font-family: "DM Serif Display", serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.container-middle .options__text {
  color: #837d87;
  font-family: "Karla", sans-serif;
  font-size: 1.6em;
  padding: 0px 30px 0px 0px;
}

.container-low {
  margin: 100px 100px 0px 100px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr none;
  background-color: #2d2640;
  height: 200px;
}
.container-low__title {
  color: #fafafa;
  font-family: "DM Serif Display", serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 40px;
}
.container-low__button {
  position: relative;
  z-index: 2;
  margin-top: 70px;
  background-color: #2d2640;
  border: 2px solid #fafafa;
  color: #fafafa;
  height: 50px;
  width: 150px;
  font-size: 1.6em;
  font-family: "Karla", sans-serif;
}
.container-low__line {
  position: relative;
  z-index: 1;
  left: 716px;
  bottom: 160px;
  height: 200px;
}

.container-low__button:hover {
  cursor: pointer;
}

.footer__lines {
  position: relative;
  top: 203px;
  z-index: 1;
  height: 200px;
  width: 430px;
}

.footer {
  position: relative;
  background-color: whitesmoke;
  box-sizing: content-box;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 0 100px;
}
.footer .icons-logo {
  margin-left: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px 100px;
  width: 70%;
}
.footer-links .footer-links__title {
  position: relative;
  z-index: 2;
  color: #837d87;
  font-family: "Karla", sans-serif;
  font-size: 1.4em;
  margin-bottom: 30px;
}
.footer-links .footer-links__text {
  position: relative;
  z-index: 2;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.6;
}

.footer-links__title:hover {
  cursor: pointer;
}

.footer-links__text:hover {
  cursor: pointer;
}

.icons-logo:hover {
  cursor: pointer;
}